
        body {
            background-image: url('https://img.magnific.com/premium-photo/colors-ukrainian-flag-yellow-wheat-field-with-blue-sky-symbol-country-growing-oats-farm-land-crisis-nationality-ukraine-concept_352173-3594.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            font-size:small;
            color: lightblue;
            margin:100px;
            .content{
                display:flex;
                gap: 20px; 
                margin: 20px auto;
                max-width: 1000px;
            }
            .content-left{
                width: 50%;
                background-color: red;
                padding: 20px;
                border-radius: 15px;
            }
            .content-right{
                width: 50%;
                background-color: black;
                padding: 20px;
                border-radius: 15px;
            }
            .photo{
                width: 100%;
                border-radius: 15px;
            }
        }
